@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
.guiderails {
  border-style: none solid none solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  height: 170px;
  width: 100%;
  margin-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bigdiv {
  background-color: rgb(233, 231, 216);
  padding: 4vw;
  padding-bottom: 0px;
}
.bigdiv * {
  color: black;
}
.bigdiv .topBox {
  height: 90vh;
}
.bigdiv .topBox .name {
  float: left;
  height: 40px;
}
.bigdiv .topBox .barkFloat {
  position: absolute;
}
.bigdiv .topBox .barkFloat--1 {
  top: 3.8vw;
  right: 3vw;
}
.bigdiv .topBox .arrow {
  position: absolute;
  bottom: 0px;
  left: 3.7vw;
  width: 70px;
}

u {
  font-family: "Apple Garamond Italic";
  text-decoration: none;
}

ul {
  list-style: none;
  position: relative;
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

.descripsh {
  font-family: "Saans Light";
  font-size: 4vw;
  text-align: justify;
  color: black;
}
.descripsh:first-child {
  padding-bottom: 20px;
}
.descripsh--2 {
  margin-top: 1rem;
  padding: 4vw;
}

@media (max-width: 850px) {
  .descripsh .name {
    padding-right: 0px;
  }
}
.barkport {
  font-family: "Apple Garamond Italic", sans-serif;
  margin-right: 3rem;
}
.barkport--2 {
  color: black;
}

a {
  text-decoration: underline;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.detailsContainer .fontsContainer ul li img {
  height: 80px;
}

.bskillz {
  font-family: "Apple Garamond Italic", sans-serif;
  margin-block-end: 0.1rem;
  margin-block-start: 0.5rem;
}

.font {
  cursor: ne-resize;
  text-decoration: underline;
}

.fontImage {
  position: fixed;
  right: 70px;
  top: 70px;
  z-index: 333;
}
.fontImage.forma {
  height: 50px;
}
.fontImage.hina {
  font-family: "Hina Mincho";
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 70%;
}
.fontImage.skelter {
  height: 150px;
}
.fontImage.nudge {
  height: 100px;
}
.fontImage.apple {
  font-size: 4rem;
  font-family: "Apple Garamond";
  line-height: 70%;
}

.pane.cnc .imagesContainer ul li {
  opacity: 1;
}

.pane.poly .imagesContainer ul li {
  opacity: 1;
}

.bottomdiv {
  background: rgb(233, 231, 216);
  min-height: 100vh;
  padding: 4vw;
  padding-bottom: 5rem;
  padding-top: 2vw;
}
.bottomdiv .recentwork {
  padding-bottom: 70px;
  color: black;
  visibility: hidden;
}

.pane {
  width: 100%;
  height: 69.5vw;
  max-width: 100%;
  margin-bottom: 5vw;
}
.pane .imagesContainer {
  width: 100%;
  height: 100%;
}
.pane .imagesContainer ul li {
  border-radius: 10px;
}
.pane .imagesContainer ul {
  width: 100%;
}
.pane .imagesContainer ul li {
  position: absolute;
  width: 100%;
  opacity: 0;
  border-radius: 8px;
}
.pane .imagesContainer ul li img {
  width: 100%;
  border-radius: 10px;
}
.pane .caption {
  font-family: "Apple Garamond";
}

.liImage:after {
  font-family: "Melody Regular";
  letter-spacing: 3px;
  font-size: 9px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 777;
}

.calvin .imagesContainer ul .liImage--0 {
  animation: xfade--cal 15.57s 0s infinite;
}
.calvin .imagesContainer ul .liImage--1 {
  animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 15.57s 5.19s infinite;
}
.calvin .imagesContainer ul .liImage--2 {
  animation: sixNine--cal 0.69s 9.69s forwards, xfade--cal 15.57s 10.38s infinite;
}
@keyframes xfade--cal {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sixNine--cal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.calvin .imagesContainer ul li.liImage--0:after {
  content: "1/3";
}
.calvin .imagesContainer ul li.liImage--1:after {
  content: "2/3";
}
.calvin .imagesContainer ul li.liImage--2:after {
  content: "3/3";
}

.norm .imagesContainer ul .liImage--0 {
  animation: xfade--norman 15.57s 0s infinite;
}
.norm .imagesContainer ul .liImage--1 {
  animation: sixNine--norman 0.69s 4.5s forwards, xfade--norman 15.57s 5.19s infinite;
}
.norm .imagesContainer ul .liImage--2 {
  animation: sixNine--norman 0.69s 9.69s forwards, xfade--norman 15.57s 10.38s infinite;
}
@keyframes xfade--norman {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sixNine--norman {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.norm .imagesContainer ul li.liImage--0:after {
  content: "1/3";
}
.norm .imagesContainer ul li.liImage--1:after {
  content: "2/3";
}
.norm .imagesContainer ul li.liImage--2:after {
  content: "3/3";
}

.votr {
  margin-top: 30px;
}
.votr .imagesContainer ul .liImage--0 {
  animation: xfade--votr 10.38s 0s infinite;
}
.votr .imagesContainer ul .liImage--1 {
  animation: sixNine--votr 0.69s 4.5s forwards, xfade--votr 10.38s 5.19s infinite;
}
@keyframes xfade--votr {
  0% {
    opacity: 1;
  }
  43.3526011561% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  93.3526011561% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sixNine--votr {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.votr .imagesContainer ul li.liImage--0:after {
  content: "1/2";
}
.votr .imagesContainer ul li.liImage--1:after {
  content: "2/2";
}

.rosehill .imagesContainer ul .liImage--0 {
  animation: xfade--rose 15.57s 0s infinite;
}
.rosehill .imagesContainer ul .liImage--1 {
  animation: sixNine--rose 0.69s 4.5s forwards, xfade--rose 15.57s 5.19s infinite;
}
.rosehill .imagesContainer ul .liImage--2 {
  animation: sixNine--rose 0.69s 9.69s forwards, xfade--rose 15.57s 10.38s infinite;
}
@keyframes xfade--rose {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sixNine--rose {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rosehill .imagesContainer ul li img {
  border-radius: 10px;
}
.rosehill .imagesContainer ul li.liImage--0:after {
  content: "1/3";
}
.rosehill .imagesContainer ul li.liImage--1:after {
  content: "2/3";
}
.rosehill .imagesContainer ul li.liImage--2:after {
  content: "3/3";
}

.handful .imagesContainer ul .liImage--0 {
  animation: xfade--hand 31.14s 0s infinite;
}
.handful .imagesContainer ul .liImage--1 {
  animation: sixNine--hand 0.69s 4.5s forwards, xfade--hand 31.14s 5.19s infinite;
}
.handful .imagesContainer ul .liImage--2 {
  animation: sixNine--hand 0.69s 9.69s forwards, xfade--hand 31.14s 10.38s infinite;
}
.handful .imagesContainer ul .liImage--3 {
  animation: sixNine--hand 0.69s 14.88s forwards, xfade--hand 31.14s 15.57s infinite;
}
.handful .imagesContainer ul .liImage--4 {
  animation: sixNine--hand 0.69s 20.07s forwards, xfade--hand 31.14s 20.76s infinite;
}
.handful .imagesContainer ul .liImage--5 {
  animation: sixNine--hand 0.69s 25.26s forwards, xfade--hand 31.14s 25.95s infinite;
}
@keyframes xfade--hand {
  0% {
    opacity: 1;
  }
  14.450867052% {
    opacity: 1;
  }
  16.6666666667% {
    opacity: 0;
  }
  97.7842003854% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sixNine--hand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.handful .imagesContainer ul li img {
  border-radius: 10px;
}
.handful .imagesContainer ul li.liImage--0:after {
  content: "1/6";
}
.handful .imagesContainer ul li.liImage--1:after {
  content: "2/6";
}
.handful .imagesContainer ul li.liImage--2:after {
  content: "3/6";
}
.handful .imagesContainer ul li.liImage--3:after {
  content: "4/6";
}
.handful .imagesContainer ul li.liImage--4:after {
  content: "5/6";
}
.handful .imagesContainer ul li.liImage--5:after {
  content: "6/6";
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/AppleGaramond-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Apple Garamond Italic";
  src: url("/AppleGaramond-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Melody Regular";
  src: url("/BLMelody-Regular.otf") format("opentype");
}
/*Saans font registry*/
@font-face {
  font-family: "Saans";
  src: url("/Saans.otf") format("opentype");
}
@font-face {
  font-family: "Saans Italic";
  src: url("/Saans-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Saans Light";
  src: url("/Saans-Light.otf") format("opentype");
}
@font-face {
  font-family: "Saans Light Italic";
  src: url("/Saans-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "Saans Med";
  src: url("/Saans-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Saans Med Italic";
  src: url("/Saans-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "Saans Semi-Bold";
  src: url("/Saans-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Saans Semi-Bold Italic";
  src: url("/Saans-SemiBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Saans Bold";
  src: url("/Saans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Saans Bold Italic";
  src: url("/Saans-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Saans Heavy";
  src: url("/Saans-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Saans Heavy Italic";
  src: url("/Saans-HeavyItalic.otf") format("opentype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(233, 231, 216);
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=globals.css.map */